<html xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
</head>
<body>
    <h2 th:text="#{hello}">world</h2>

    <li>
        <span th:if="${session.sessionId == null}">  <a href="/login" th:text="#{login}"> </a> </span>
    </li>

    <li>
        <span th:unless="${session.sessionId == null}" > <a href="/logout" th:text="#{logout}"/> </a> </span>
    </li>

    <li>
        <a href="/student/register" th:text="#{studentRegister}">  </a>
    </li>

    <hr/>

    <li>
        <a href="?locale=ko" th:text="#{ko}">  </a> <Br/>
    </li>

    <li>
        <a href="?locale=en" th:text="#{en}">  </a> <br/>
    </li>

</body>
</html>
