<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.mapper.UuidMapper">

    <insert id="insertUuid" parameterType="com.nhnacademy.jdbc.board.domain.dto.InsertUuid">
        insert into Uuid (file_id, post_id, uuid_value)
        values (#{fileId}, #{postId}, #{uuidValue})
    </insert>


</mapper>