table {
    width: 200px;
    border-collapse: collapse;
}

th {
    border: 0.5px solid black;
    font-size: 20px;
    background-color: rgb(139, 132, 235);
    color: white;
}

td {
    border: 0.5px solid black;
    text-align: center;
}

td:hover {
    border: 0.5px solid black;
    text-align: center;
    color: blue;
    font-weight: bold;
}