<!DOCTYPE html>
<html lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>NHN 주민 서비스</h2>
    <hr/>

    <div sec:authorize="isAuthenticated()">

<!--        <span sec:authentication="name" />-->
        Logged on

        <form method="post" action="/logout">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="submit" value="로그아웃">
        </form>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <ul>
            <li>
                <a href="/form/login">
                    <input type="button" value="로그인">
                </a>
            </li>
            <li>
                <a th:href="@{https://github.com/login/oauth/authorize(client_id=${clientId}, redirect_uri='http://localhost:8080/login/oauth2/code/github')}">
                    <input type="button" value="깃허브 로그인">
                </a>
            </li>
        </ul>
    </div>

    <li sec:authorize="hasAuthority('ROLE_USER')">
<!--        <a href="/resident?page=0&size=5">주민 목록</a>-->
        <a th:href="@{/household/{residentId}(residentId=${residentId})}">주민 목록</a>
    </li>

</body>
</html>