<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>가족 목록</h2>
    <hr/>

    <table border="1" style="border-collapse: collapse" width="900">
        <tr style="background-color: lightblue; color: white">
            <th>번호</th>
            <th>이름</th>
            <th>성별</th>
            <th>생일</th>
            <th>가족관계증명서</th>
            <th>주민등록등본</th>
            <th>출생신고서</th>
            <th>사망신고서</th>
        </tr>
        <tr th:each="family : ${families}">
            <td style="padding-left: 10px" th:text="${family.resident.residentSerialNumber}"></td>
            <td style="padding-left: 10px" th:text="${family.resident.name}"></td>
            <td style="padding-left: 10px" th:text="${family.resident.genderCode}"></td>
            <td style="padding-left: 10px" th:text="${family.resident.birthDate}"></td>
            <th>
                <a th:href="@{/family/certificate/{number}(number=${family.resident.residentSerialNumber})}">
                    <input type="button" value="가족관계증명서">
                </a>
            </td>
            <th>
                <a th:href="@{/residentRegistration/certificate/{number}(number=${family.resident.residentSerialNumber})}">
                    <input type="button" value="주민등록등본">
                </a>
            </th>
            <th>
                <a th:href="@{/birth/certificate/{number}(number=${family.resident.residentSerialNumber})}">
                    <input type="button" value="출생신고서">
                </a>
            </th>
            <th>
                <a th:href="@{/death/certificate/{number}(number=${family.resident.residentSerialNumber})}">
                    <input type="button" value="사망신고서">
                </a>
            </th>
        </tr>
    </table>

</body>
</html>