<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>게시글 등록</h3>
    <hr/>

    <form method="post" action="/post/register" enctype="multipart/form-data">

        <div>
            <b>작성자 : </b>   <input type="text" th:value="${userNickname}" style="background-color: ghostwhite" disabled/>    <br/>
        </div>

        <b>제목 : </b>    <input type="text" name="title"/>   <br/>
        <b>파일 : </b>    <input type="file" name="files" multiple>     <br/>

        <b>내용</b>   <br/>
        <textarea name="content" rows="10" cols="60" style="resize: none"></textarea>

        <br/>

        <input type="submit" value="등록">
        <a href="/community?page=1">
            <input type="button" value="취소">
        </a>

    </form>

</body>
</html>